* {
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}
th {
    width: 50%;
}
table {
    width: 100%;
    height: 100vh;
}
tr {
    border: 1px solid #000;
}
tr:nth-of-type(odd) td:nth-of-type(even){
    background-color: #000;
}
tr:nth-of-type(even) td:nth-of-type(odd){
    background-color: #000;
}
td {
    width: 12.5%;
    height: 12vh;
}